@model  IEnumerable<Interview.Models.InvoiceDetail>

@{
    ViewData["Title"] = "UnitInvoiceDetails";
    Unit unit = ViewBag.Unit ;
}

<h1>UnitInvoiceDetails</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("UnitName")
        </dt>
        <dd class="col-sm-10">
            @unit.UnitName
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNoNavigation.UnitNo)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="InvoiceDetails" asp-route-id="@item.LineNumber">Edit</a> |
                    <a asp-action="Details" asp-controller="InvoiceDetails" asp-route-id="@item.LineNumber">Details</a> |
                    <a asp-action="Delete" asp-controller="InvoiceDetails" asp-route-id="@item.LineNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
